---
import ArrowCard from "@components/ArrowCard";
import ExpertiseSection from "@components/ExpertiseSection.astro";
import ProjectsSection from "@components/ProjectsSection.astro";
import TechStackSection from "@components/TechStackSection.astro";
import CTASection from "@components/CTASection.astro";
import MeteorShower from "@components/MeteorShower.astro";
import StackCard from "@components/StackCard.astro";
import TwinklingStars from "@components/TwinklingStars.astro";
import { SITE, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const stack = [
  {
    text: "PostgreSQL",
    icon: "postgresql",
    href: "https://www.postgresql.org",
  },
];
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-[#0f172b] hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <img src="bg.png" class="absolute object-cover h-full w-full" />
    <div class="animate h-full w-full flex items-center container mx-auto">
      <div class="space-y-6">
        <p class="font-square animated text-5xl md:text-6xl lg:text-7xl font-bold text-white">
          Consult with
          <span class="text-sky-400"><br />your data</span>
        </p>
        <p class="text-base md:text-lg lg:text-xl max-w-2xl">We specialize in building and operating advanced data platforms, system integration, data science, and computer vision solutions.</p>
        <div id="ctaButtons" class="animated flex flex-wrap gap-4 mt-5">
          <a href="/projects" class="py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend">
            View our work
          </a>
        </div>
      </div>
    </div>
  </section>

  <ExpertiseSection />
  <TechStackSection />
  <ProjectsSection />
  <CTASection />
</PageLayout>
